/* css */

:root {
    --primary: #8c38ff;
    --light: #EEEEEE;
    --dark: #212121;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
}

/* NavBar */

.nav-container {
    max-width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--dark);
    padding: 16px 32px;
    border-bottom: 3px solid var(--primary);
}

h1 {
    color: var(--light);
    font-size: 28px;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.menu {
    display:none;
    justify-content: flex-end;
    margin: 0 -16px;
}

.menu a {
    color: var(--light);
    margin: 0 16px;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 8px;
    transition: 0.4s;
}

.menu a.active, .menu a:hover {
    background-color: var(--primary);
}

.navmenu button {
    display: block;
    position: relative;

    appearance: none;
    border: none;
    outline:none;
    background: none;
}

.navmenu span {
    display: block;
    width: 32px;
    height: 4px;
    margin-bottom: 6px;
    position: relative;
    background-color: var(--light);
    border-radius: 6px;
    transform-origin: 0 0;
    transition: 0.2s;
}

.navmenu button:focus span:nth-child(1) {
    transform: rotate(45deg);
    background-color: var(--primary);
}

.navmenu button:focus span:nth-child(2) {
    transform: translate(-50px, 0px);
    opacity: 0;
}

.navmenu button:focus span:nth-child(3) {
    transform: translate(-3px, 3px) rotate(-45deg);
    background-color: var(--primary);
}

.navmenu ul {
    position: absolute;
    background-color: var(--light);
    margin-top: 40px;
    left: 0;
    right: 0;
    line-height: 4rem;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border-bottom: 3px solid var(--primary);
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.navmenu li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navmenu li a {
    color: var(--dark);
    text-decoration: none;
}

.navmenu li:hover {
    background-color: gainsboro;
}

.navmenu button:focus + ul {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}

@media (min-width: 768px) {
    .navmenu {
        display: none;
    }
    .menu {
        display: flex;
    }
}

/* End NavBar */

/* Homepage Main \/ */

.mainhomecontent {
    display: flex;
    padding: 150px 16px 50px 16px;
    align-items: center;
}

.mainhomecontent > * {
    flex-basis: 100%;
}

.home-left {
    padding-left: 27px;
}

.home-left h3 {
    font-size: 24px;
    padding-left: 5px;
    padding-right: 16px;
    white-space: nowrap;
}

.home-left h2 {
    font-size: 88px;
    padding-right: 16px;
    white-space: nowrap;
}

.home-left p {
    line-height: 1.5em;
    padding-left: 5px;
}

.mobilehome {
    display: none;
}

.home-right {
    display: flex;
    justify-content: center;
}

.home-right img {
    width: 500px;
}

@media (max-width: 768px) {
    .mainhomecontent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .home-left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .home-left p {
        display: none;
    }

    .home-right {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .home-right img {
        padding-left: 12px;
    }

    .mobilehome {
        display: flex;
        line-height: 1.5em;
        padding-top: 16px;
        padding-left: 32px;
        white-space: nowrap;
    }
}

/* Work page Main \/ */

.workgallery {
    padding: 124px 16px 50px 16px;
}

.workgallery-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
}

.type-container {
    padding: 0px 16px 0 16px;
}

.gallery-type {
    display: flex;
    justify-content: center;
    padding: 10px 0px 32px 0px;
    text-decoration: underline dashed;
}

.workgallery img {
    width: 350px;
    height: 400px;
    object-fit: cover;
}

.type-container:hover {
    color: var(--primary);
}

.workgallery img:hover {
    opacity: .5;
}

/* About page Main \/ */

.mainaboutcontent {
    display: flex;
    padding-top: 75px;
    justify-content: flex-start;
}

.about-left img {
    width: 600px;
}

.about-right {
    padding-top: 132px;
}

.about-right p {
    padding-bottom: 32px;
    line-height: 32px;
    display: block;
}

.about-right h4 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 16px;
}

.awards li {
    list-style: none;
    line-height: 32px;
}

@media (max-width: 768px) {
    .mainaboutcontent {
        display: block;
        margin: auto;
        padding: 75px 32px 64px 32px;
    }

    .about-left img {
        margin: 0;
        padding: 0;
    }

}

/* Coming Soon */

.comingsoon-content {
    font-size: 64px;
}

/* end main content */

footer {
    padding-top: 48px;
    width: 100%;
    color: var(--light);
    background-color: var(--dark);
}

.footer-top {
    display: flex;
    padding-bottom: 32px;
}

.footer-top > * {
    flex-basis: 100%;
}

.footer-left {
    padding-left: 32px;
}

.footer-left h3 {
    letter-spacing: 4px;
    font-size: 32px;
}

.footer-left p {
    white-space: nowrap;
}

.socials a {
    line-height: 2em;
    color: var(--light);
    font-size: 32px;
    background-color: var(--primary);
    padding: 2px 8px;
    border-radius: 4px;
}

.footer-middle {
    padding: 0 48px 0 48px;
}

.footer-middle ul, .footer-right ul{
    list-style: none;
}

.footer-middle h5, .footer-right h5 {
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 16px;
    white-space: nowrap;
}

.footer-middle li, .footer-right li {
    line-height: 32px;
}

.footer-middle li a, .footer-right li a {
    text-decoration: none;
    color: var(--primary);
}

.footer-right {
    padding-right: 32px;
}

.footer-bottom {
    display: flex;
    padding-top: 32px;
    padding-bottom: 48px;
    font-size: 16px;
    justify-content: center;
}

@media (max-width: 900px) {
    .footer-top {
        display: flex;
        flex-direction: column;
        padding-left: 32px;
    }

    .footer-left, .footer-middle, .footer-right {
        padding-bottom: 40px;
        padding-left: 0;
    }

    .footer-bottom {
        display: flex;
        justify-content:flex-start;
        padding-top: 0px;
        padding-left: 32px;
    }
}






